<div class="modal-header">
  <h4 class="modal-title">Add new manufacturer</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form #form="ngForm" (ngSubmit)="addManufacturer()">
    <div class="row">
      <div class="col mb-3">
        <label for="inputManufacturerName" class="form-label">
          Name
        </label>
        <input
          type="text"
          class="form-control"
          id="inputManufacturerName"
          name="name"
          [(ngModel)]="manufacturerRequest.name"
        />
      </div>
      <div class="col mb-3">
        <label for="inputManufacturerCrn" class="form-label">
          CRN
        </label>
        <input
          type="text"
          class="form-control"
          id="inputManufacturerCrn"
          name="crn"
          [(ngModel)]="manufacturerRequest.crn"
        />
      </div>
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="inputManufacturerActive"
        name="active"
        [(ngModel)]="manufacturerRequest.active"
      />
      <label class="form-check-label" for="inputManufacturerActive">
        Active
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
<div class="modal-footer"></div>