.section-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  width: 50%;
  top: 0;
  overflow: hidden;
}

.sale-products-list::-webkit-scrollbar {
  display: none;
}

.products-section {
  width: 70%;
}

.tools-section {
  width: 30%;
}